@model Fantasy.Models.CreateSquadViewModel

<h1 class="h1">Squad</h1>

<form class="form-check" method="post" asp-controller="Squad" asp-action="CreateSquad">
    @*<label>SquadId:</label>
        <input type="number" asp-for="Squad.SquadId" />
        <label>User:</label>
        <input type="text" asp-for="Squad.UserId" />*@
    <label>Gameweek:</label>
    <input type="number" asp-for="Squad.GameWeek" />

    

    @*<label>Players</label>
        <input type="number" asp-for="Players" />*@
    @*<label>Team:</label>
        <select asp-for="Team.ID" asp-items="@ViewBag.Teams"></Select>*@
    <div class="form-group">
        <label class="control-label">Player:</label>
        @Html.DropDownList("Players", Model.Players, new { @class = "form-control", @id = "player-select" })
        <button class="btn-outline-primary" id="add-player">
            Add player
        </button>

        @*@Html.DropDownList("PlayersGKP", Model.PlayersGKP, new { @class = "form-control", @id = "player-selectGKP" })
            <button class="btn-outline-primary" id="add-player">
                Add GKP
            </button>
            @Html.DropDownList("PlayersDEF", Model.PlayersDEF, new { @class = "form-control", @id = "player-selectDEF" })
            <button class="btn-outline-primary" id="add-player">
                Add DEF
            </button>
            @Html.DropDownList("PlayersMID", Model.PlayersMID, new { @class = "form-control", @id = "player-selectMID" })
            <button class="btn-outline-primary" id="add-player">
                Add MID
            </button>
            @Html.DropDownList("PlayersFWD", Model.PlayersFWD, new { @class = "form-control", @id = "player-selectFWD" })
            <button class="btn-outline-primary" id="add-player">
                Add FWD
            </button>*@
    </div>


    <table class="table" id="players">
        <thead>
            <tr>
                <th>Num</th>
                <th hidden>Player id</th>
                <th>Player name</th>
                <th>Player surname</th>
                <th>Player position</th>
                <th>Price</th>
                <th>Team</th>
                <th>Remove from squad</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>




    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Captain</label>
        </div>
        <select id="captain" class="custom-select">
            <option selected>Choose...</option>
        </select>
        <input hidden type="number" id="captainT" asp-for="Squad.Captain" />
    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Vice Captain</label>
        </div>
        <select id="vicecaptain" class="custom-select">
            <option selected>Choose...</option>
        </select>
        <input hidden type="number" id="vcaptainT" asp-for="Squad.ViceCaptain" />
    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Benched 1</label>
        </div>
        <select id="bench1" class="custom-select">
            <option selected>Choose...</option>
        </select>
        <input hidden type="number" id="becnhed1T" asp-for="Squad.Benched1" />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Benched 2</label>
        </div>
        <select id="bench2" class="custom-select">
            <option selected>Choose...</option>
        </select>
        <input hidden type="number" id="becnhed2T" asp-for="Squad.Benched2" />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Benched 3</label>
        </div>
        <select id="bench3" class="custom-select">
            <option selected>Choose...</option>
        </select>
        <input hidden type="number" id="becnhed3T" asp-for="Squad.Benched3" />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Benched 4</label>
        </div>
        <select id="bench4" class="custom-select">
            <option selected>Choose...</option>
        </select>
        <input hidden type="number" id="becnhed4T" asp-for="Squad.Benched4" />
    </div>





    <div class="form-group">
        <input type="submit" id="cr" value="Create" class="btn btn-primary" />
    </div>


</form>

@section Scripts
{
    <script>
        $('#add-player').click(function (e) {
            e.preventDefault();
            //alert('btn cliked');
            //     alert($('#player-select').val());
            //$('#players tbody').append('<tr><td>' + '<input hidden value ="' + $('#player-select').val() + '" name = "Players[0].PlayerId"/>' +  $('#player-select').val() + '</td></tr>')
            $.ajax({
                url: '@Url.ActionLink("AddPlayer", "Squad")',
                method:'post',
                data: {
                    PlayerId: $('#player-select').val(), Num: $('#players tbody tr').length,

                },
                success: function (data) {

                    $('#players tbody').append(data);

                }
            });


             $.ajax({
                url: '@Url.ActionLink("AddOption", "Squad")',
                method:'post',
                data: {
                    PlayerId: $('#player-select').val(), Num: $('#players tbody tr').length,

                },
                success: function (data) {
                    $('#captain').append(data);

                    $('#vicecaptain').append(data);
                    $('#bench1').append(data);
                    $('#bench2').append(data);
                    $('#bench3').append(data);
                    $('#bench4').append(data);

                }
             });
            $('#player-select option:selected').remove();

        });

        $("#vicecaptain").change(function () {
            $("#captainT").val($(this).val());
        });
        $("#captain").change(function () {
            $("#vcaptainT").val($(this).val());
        });
        $("#bench1").change(function () {
            $("#becnhed1T").val($(this).val());
        });
        $("#bench2").change(function () {
            $("#becnhed2T").val($(this).val());
        });
        $("#bench3").change(function () {
            $("#becnhed3T").val($(this).val());
        });
        $("#bench4").change(function () {
            $("#becnhed4T").val($(this).val());
        });

        $('#players').on('click', ".delete", function () {
            var id = $(this).closest('tr')[0].cells[1].outerText;

            var name = $(this).closest('tr')[0].cells[2].outerText;
            var sname = $(this).closest('tr')[0].cells[3].outerText;
            var pos = $(this).closest('tr')[0].cells[4].outerText;
            var price = $(this).closest('tr')[0].cells[5].outerText;
            var team = $(this).closest('tr')[0].cells[6].outerText;



            $('#player-select').append($("<option />").val(id).html(name + " " + sname + " | " + pos + " | $" + price + " mill"));

            $(this).closest('tr').remove();


           
        });
    </script>
}