
@model SquadViewModel
@{
    ViewData["Title"] = "Squads";
    int i = 0;
}
@section Style {
    <link rel="stylesheet" href="~/css/mySquadStyling.css" />
}
<h1>@Model.TeamName</h1>


<div>
    Gameweek:
    <select id="gw">

        @for (int j = Model.MaxGameWeek; j > 0; j--)
        {
        <option value="@j">@j</option>
        }
    </select>
    <button onclick="ChangeGameweek()">Change gameweek</button>
</div>
<p>Current gameweek is: <span id="currGW">@Model.Gameweek</span></p>
<p>Points: <span id="currGW">@Model.GWPoints</span></p>
<div class="grass">
    <div class="lineup">
        <div class="gk">
            <div class="row">
                <div class="player" id="@Model.Goalkeeper.PlayerId">
                    <img src="/images/kit.png" alt="">
                    <p>@Model.Goalkeeper.Name @Model.Goalkeeper.Surname</p>
                    <p>@Model.stats[i++].Points</p>
                </div>
            </div>
        </div>
        <div class="def">
            <div class="row">
                @foreach (var item in Model.DefenderLine)
                {
                <div class="player" id="@item.PlayerId">
                    <img src="/images/kit.png" alt="">
                    <p>@item.Name @item.Surname</p>
                    <p>@Model.stats[i++].Points</p>
                </div>
                }
            </div>
        </div>
        <div class="mid">
            <div class="row">
                @foreach (var item in Model.MidfielderLine)
                {
                <div class="player" id="@item.PlayerId">
                    <img src="/images/kit.png" alt="">
                    <p>@item.Name @item.Surname</p>
                    <p>@Model.stats[i++].Points</p>
                </div>
                }
            </div>
        </div>
        <div class="fwd">
            <div class="row">
                @foreach (var item in Model.AttackLine)
                {
                <div class="player" id="@item.PlayerId">
                    <img src="/images/kit.png" alt="">
                    <p>@item.Name @item.Surname</p>
                    <p>@Model.stats[i++].Points</p>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="bench">
        <div class="row">
            @foreach (var item in Model.Bench)
            {
            <div class="player" id="@item.PlayerId">
                <img src="/images/kit.png" alt="">
                <p>@item.Name @item.Surname</p>
           
            </div>
            }
        </div>
    </div>
</div>
<div class="c-vc">
    <div class="c">
        <p>Captain is:</p>
        <select id="captain" onchange="checkPlayer()">
            @for (int j = 0; j < Model.StartLine.Count; j++)
            {
            <option value="c-@Model.StartLine[j].PlayerId">@Model.StartLine[j].Name @Model.StartLine[j].Surname</option>
            }
        </select>
    </div>
    <div class="vc">
        <p>Vice captain is:</p>
        <select id="vice" onchange="checkPlayer()">
            @for (int j = Model.StartLine.Count-1; j >= 0; j--)
            {
            <option value="vc-@Model.StartLine[j].PlayerId">@Model.StartLine[j].Name @Model.StartLine[j].Surname</option>
            }
        </select>
    </div>
</div>
<div id="below">
    <p style="font-size: 20px;">Rotate player</p>
    <div class="change">
        <div>
            <p>Start linup</p>
            <select id="in">
                @for (int j = 0; j < Model.StartLine.Count; j++)
                {
                <option value="@Model.StartLine[j].PlayerId">@Model.StartLine[j].Name @Model.StartLine[j].Surname</option>
                }
            </select>
        </div>
        <div>
            <p>Reserves</p>
            <select id="out">
                @for (int j = Model.Bench.Count - 4; j < Model.Bench.Count; j++)
                {
                <option value="@Model.Bench[j].PlayerId">@Model.Bench[j].Name @Model.Bench[j].Surname</option>
                }
            </select>
        </div>
        <button id="rotate" onclick="Rotate()">Rotate</button>
    </div>
</div>
@section Scripts
{
    <script>
        function Rotate() {
             $.ajax({
                url: '@Url.ActionLink("CheckIfPlayersCouldRotate", "Squad")',
                method:'get',
                data: {
                    activePlayerId: $('#in').val(),
                    benchedPlayerId: $('#out').val()
                },
                success: function () {
                    location.reload();
                }
            });

        }
        function checkPlayer() {
            if ($("#captain :selected").text() == $("#vice :selected").text()) {
                alert("Vice captain and captain must be different players!");
                location.reload();
            }
        }
        function ChangeGameweek() {
             $.ajax({
                url: '@Url.ActionLink("ChangeGameWeek", "Squad")',
                method:'get',
                data: {
                    gw: $('#gw').val(),
                },
                 success: function () {
                    console.log("?")
                    location.reload();
                }
            });
        }
        if ($("#gw :selected").text() != $("#currGW").text())
            $("#below").css('display', 'none');
        else
            $("#below").css('display', 'block');
            //$("#rotate").prop('disabled', true);
    </script>
}